.animated.fadeInRight
 .row.notifiBar
       .col-xs-12.col-md-3.haedTittle
        span 
         |Elements   
        span
         | &nbsp;>  FAB Toolbar
       .col-xs-12.col-md-4.pull-right.col-md-offset-5.contentRlink 
        .col-xs-2.col-md-2
         span
          i.fa.fa-globe
        .col-xs-2.col-md-2
         span
          i.fa.fa-envelope
        .col-xs-2.col-md-2
         span
          i.fa.fa-bell-o
        .col-xs-6.col-md-6
         span.row-picture.pull-left
          img.circle(src="img/avatar-5.png")
         span.userName.pull-left
          |Christos
    .row.lodePgeCon.element.fTool
        .col-xs-12.innerText
          p 
           |The floating action button can fling out related actions upon press.
           
          p
           |The button should remain on screen after the menu is invoked. Tapping in the same spot should either activate the most commonly used action or close the open menu.  
          
        .col-xs-12.flatButton
          ul.nav.nav-tabs
           li.active.htmlExmp
            a.animated.fadeInRight(data-toggle="tab" href="#menu1")
             |EXAMPLE  
           li.htmlCodeDisplay 
            a.animated.fadeInRight(data-toggle="tab" href="#menu2") 
             |HTML 
        .col-xs-12.flatBDemoCoun.tab-content
         .flatChekDemo#menu1.col-xs-12.tab-pane.slide.in.active.animated.fadeInLeft  
           div.col-xs-12.checkSampal.examPan
              div.col-xs-12.flotPanButt
                a.fabButton.btn.btn-fab.btn-raised.btn-material-cyan-400(href="#")
                  i.fa.fa-paperclip
                div.col-xs-12.flotPanBar
                 div.col-xs-12
                   i.fa.fa-file
                   i.fa.fa-picture-o
                   i.fa.fa-bar-chart
                   i.fa.fa-calendar-o             
         .flatBCode#menu2.col-xs-12.tab-pane.animated.fadeInRight                     
            pre 
             <span>&lt;</span><span>md-button ng-class="[vm.buttonClass, vm.buttonHue]" aria-label="flat button"</span><span>&gt;</span><span>Button</span><span>&lt;</span><span>/md-button</span><span>&gt;</span>

             <span>&lt;</span><span>md-select placeholder="Choose a style" ng-model="vm.buttonClass"</span><span>&gt;</span><span>&lt;</span><span>/md-option</span><span>&gt;</span>

             <span>&nbsp;<span><span>&nbsp;<span><span>&nbsp;<span><span>&lt;</span><span>md-option value="md-primary"</span><span>&gt;</span>Primary<span></span> <span>&lt;</span><span>/md-option</span><span>&gt;</span>

             <span>&nbsp;<span><span>&nbsp;<span><span>&nbsp;<span><span>&lt;</span><span>md-option value="md-primary"</span><span>&gt;</span>Accent<span></span><span>&lt;</span><span>/md-option</span><span>&gt;</span>

             <span>&nbsp;<span><span>&nbsp;<span><span>&nbsp;<span><span>&lt;</span><span>md-option value="md-primary"</span><span>&gt;</span>Warn<span></span> <span>&lt;</span><span>/md-option</span><span>&gt;</span>

             <span>&lt;</span><span>/md-button</span><span>&gt;</span>

             <span>&lt;</span><span>md-button ng-class="[vm.buttonClass, vm.buttonHue]" aria-label="flat button"</span><span>&gt;</span><span>Button</span><span>&lt;</span><span>/md-button</span><span>&gt;</span>

             <span>&lt;</span><span>md-select placeholder="Choose a style" ng-model="vm.buttonClass"</span><span>&gt;</span><span>&lt;</span><span>/md-option</span><span>&gt;</span>
             
             <span>&nbsp;<span><span>&nbsp;<span><span>&nbsp;<span><span>&lt;</span><span>md-option value="md-primary"</span><span>&gt;</span>Primary<span></span> <span>&lt;</span><span>/md-option</span><span>&gt;</span>

             <span>&nbsp;<span><span>&nbsp;<span><span>&nbsp;<span><span>&lt;</span><span>md-option value="md-primary"</span><span>&gt;</span>Accent<span></span><span>&lt;</span><span>/md-option</span><span>&gt;</span>

             <span>&nbsp;<span><span>&nbsp;<span><span>&nbsp;<span><span>&lt;</span><span>md-option value="md-primary"</span><span>&gt;</span>Warn<span></span> <span>&lt;</span><span>/md-option</span><span>&gt;</span>

             <span>&lt;</span><span>/md-button</span><span>&gt;</span>